@model RestaurantManager.Models.Kitchen

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Kitchen</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Temperature" class="control-label"></label>
                <input asp-for="Temperature" class="form-control" />
                <span asp-validation-for="Temperature" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Setting" class="control-label"></label>
                <input asp-for="Setting" class="form-control" />
                <span asp-validation-for="Setting" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChefID" class="control-label"></label>
                <select asp-for="ChefID" class="form-control" asp-items="ViewBag.ChefID"></select>
                <span asp-validation-for="ChefID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UtensilID" class="control-label"></label>
                <select asp-for="UtensilID" class="form-control" asp-items="ViewBag.UtensilID"></select>
                <span asp-validation-for="UtensilID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationID" class="control-label"></label>
                <select asp-for="LocationID" class="form-control" asp-items="ViewBag.LocationID"></select>
                <span asp-validation-for="LocationID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
